@import "styles.css";

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--gris);
    color: var(--oscuro);
    /*Cambios de ayo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

h1, h2, h3, h4 {
    font-family: 'Suez One', serif;
}

h3 {
    color: var(--azul);
}

/* =========================
LINKS Y BOTONES
========================= */

button,
.btn-primary,
.btn-secondary {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 18px;
    font-weight: 600;
    transition: 0.3s;
    display: inline-block;
    border: none;
}

.btn-primary {
    background-color: var(--turquesa);
    color: var(--oscuro);
}

.btn-secondary {
    background-color: var(--azul);
    color: white;
}

.btn-outline {
    border: 2px solid var(--oscuro);
    color: var(--oscuro);
    background: transparent;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.9;
}

/* =========================
HEADER
========================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--azul);
}

.logo {
    color: var(--blanco);
    font-size: 1.8rem;
}

nav a {
    margin: 0 15px;
    color: var(--oscuro);
    text-decoration: none;
    font-weight: 600;
}

nav a:hover, nav a.active {
    color: var(--blanco);
}

.btn-header {
    text-decoration: none;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.3s;
}

.btn-header:hover {
    background-color: var(--blanco);
    color: var(--azul);
}

/* =========================
BUSCADOR E INFO
========================= */
.buscador {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.buscador input {
    padding: 10px;
    width: 250px;
    border: 1px solid var(--gris);
    border-radius: 8px;
    margin-right: 10px;
}

.info {
    padding: 40px;
    text-align: center;
}

/* =========================
SECCIONES Y CARDS
========================= */
.seccion {
    padding: 40px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 200px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    text-align: center;
    transition: 0.3s;
    color: var(--oscuro);
}

.card:hover {
    transform: translateY(-5px);
}

/* =========================
FOOTER
========================= */
footer {
    background: linear-gradient(130deg, #4586FF 0%,  #222435 100%);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;

}

/* =========================
RESPONSIVE
========================= */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards {
        flex-direction: column;
    }

    .buscador {
        flex-direction: column;
        align-items: center;
    }

    .buscador input {
        width: 90%;
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}